.titleBorder {
	background-color: #9e8e75;
	border-color: black;
    border-width: 5px;
    border-style: solid;
	margin-left: 0.6vw;
    margin-right: 0.6vw;
}

body {
	background-color: rgb(168, 152, 142);
	height: 100%;
    z-index: 0;
}

.blankSpace{
    height: 5vw;
}

.nodeBox{

    background-color: #9e8e75;
	border-color: #000000;
    border-width: 3px;
    height: 11vw;
    border-style: solid;

}

.arrow{
    width: 4vw;
    height: 4vw;
}